<div class="container">
  <div class="row">
    <h2 class="col-md-12">Detalles de {{getUsuarioPorPersona(entrenador).nombre}}</h2>
  </div>

  <div class="row">
    <div class="col-md-3">
      <strong>Nombre completo:</strong>
    </div>
    <div class="col-md-9">
      {{getUsuarioPorPersona(entrenador).nombre}} {{getUsuarioPorPersona(entrenador).apellido1}} {{getUsuarioPorPersona(entrenador).apellido2}}
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <strong>Teléfono:</strong>
    </div>
    <div class="col-md-9">
      {{getUsuarioPorPersona(entrenador).telefono}}
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <strong>Dirección:</strong>
    </div>
    <div class="col-md-9">
      {{entrenador?.direccion}}
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <strong>DNI:</strong>
    </div>
    <div class="col-md-9">
      {{entrenador?.dni}}
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <strong>Fecha de Nacimiento:</strong>
    </div>
    <div class="col-md-9">
      {{entrenador?.fechaNacimiento | date}}
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <strong>Fecha de Alta:</strong>
    </div>
    <div class="col-md-9">
      {{entrenador?.fechaAlta | date}}
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <strong>Fecha de Baja:</strong>
    </div>
    <div class="col-md-9">
      {{entrenador?.fechaBaja | date}}
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <strong>Especialidad:</strong>
    </div>
    <div class="col-md-9">
      {{entrenador?.especialidad}}
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <strong>Titulación:</strong>
    </div>
    <div class="col-md-9">
      {{entrenador?.titulacion}}
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <strong>Experiencia:</strong>
    </div>
    <div class="col-md-9">
      {{entrenador?.experiencia}}
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <strong>Observaciones:</strong>
    </div>
    <div class="col-md-9">
      {{entrenador?.observaciones}}
    </div>
  </div>

  <div class="row mt-3">
    <button class="col-auto btn btn-outline-primary me-2" (click)="eliminarEntrenador()">
      Eliminar <i class="bi bi-trash-fill"></i>
    </button>
    <button class="col-auto btn btn-outline-primary" (click)="editarEntrenador()">
      Editar <i class="bi bi-pencil-fill"></i>
    </button>
  </div>
</div>
